<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% include icon-github.html username=site.github_username %} |
            {% include icon-linkedin.html username=site.linkedin_username %} |
            {% include icon-facebook.html  username=site.facebook_username %} |
            {% include icon-twitter.html username=site.twitter_username %}
          <!-- <li>{{ site.title }}</li> -->
          <!-- <li><b><em>Template by: </em></b><a href="http://svmiller.com/" target="_blank">Steven V. Miller</a></li> -->
          <!-- <li><b><em>Last modified: </em></b>{{ page.last_modified_at | date:'%B %d, %Y' }}</li> -->
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
 <!--            {% include icon-github.html username=site.github_username %} |
            {% include icon-linkedin.html username=site.linkedin_username %} |
            {% include icon-facebook.html  username=site.facebook_username %} |
            {% include icon-twitter.html username=site.twitter_username %} -->

<!--           {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html  username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %} -->

        </ul>
      </div>

      <div class="footer-col footer-col-3">
      <small>
        <b>Last Updated:</b> {{'now' | date: "%h %d, %Y"}}
      </small>
        <!-- <p><b><em>Address: </em></b>Room E32, Engineering 2 <br /></p>
        <a href="http://www.ucsc.edu/" target="_blank"><img src="/images/ucsc.png" alt="University of California, Santa Cruz" style="width:204px;height:64px;"></a> -->

        <!-- Department of Computer Science </br> -->
        <!-- University of California, Santa Cruz</br> -->
        <!-- {{ site.description }} -->
        </p>
      </div>
    </div>

  </div>

</footer>
