<ul class="menu">
{% for dhawal in site.data.menu %}
    {% if dhawal.subcategories != null %}
    <li><a href="{{ dhawal.href }}" class="page-link">{{ dhawal.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in dhawal.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ dhawal.href }}" class="page-link">{{ dhawal.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>